@charset "utf-8";

body {
    background: lightgreen;
}
.card-title {
    background: rgb(245, 106, 245);
    color: antiquewhite;
}
.card-title2 {
    background: yellowgreen;
    color: blue;
   
}
.card-link {
    background: yellowgreen;
    color: azure;
}



 .fond_orange {
    background: rgb(255, 0, 0);
}
.fond_bleu {
    background: rgb(13, 241, 230);
} 
.fond_jaune {
    background: rgb(238, 130, 238);
}
.carousel-caption {
    background-color: rgba(26, 169, 236, 0.445)
}